<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()"> cancel </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="onSubmit(form)" color="primary">
        save
      </ion-button>
    </ion-buttons>
    <ion-title>EditProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
    novalidate
    *ngIf="(product$ | async) as p"
    ng-submit="onSubmit()"
    [formGroup]="form"
  >
    <ion-list>
      <ion-item>
        <ion-label>name: </ion-label>
        <ion-input
          formControlName="name"
          type="text"
          placeholder="Product Name"
        ></ion-input>
      </ion-item>

      <ion-item
        color="danger"
        *ngIf="!nameCtrl.valid && (nameCtrl.touched || submitAttempt)"
      >
        <p *ngIf="nameCtrl.hasError('required')" class="err">
          * ammount is rquired
        </p>
        <p *ngIf="nameCtrl.hasError('max')" class="err">
          *too much big ammount!
        </p>
      </ion-item>

      <ion-item>
        <ion-label>code</ion-label>
        <ion-input autofocus formControlName="code" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>unit</ion-label>
        <ion-input formControlName="unit" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>price</ion-label>
        <ion-input autofocus formControlName="price" type="number"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Sell price</ion-label>
          <ion-input autofocus formControlName="sPrice" type="number"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label>size</ion-label>
            <ion-input autofocus formControlName="size" type="text"></ion-input>
          </ion-item>
    
            <ion-item>
        <ion-label>styles</ion-label>
        <ion-input autofocus formControlName="style" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>notice</ion-label>
        <ion-input autofocus formControlName="notice" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <app-photo-picker
          slot="end"
          formControlName="thumbUrl"
        ></app-photo-picker>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
