<ion-item
    no-padding
    (click)="onPlLineClicked()"
    [ngClass]="index % 2 == 1 ? 'odd-row' : 'even-row'"
    [class.active]="isActive"
    *ngIf='orderRow.ext.Product'
  >
    <ion-thumbnail  class='small-thumb ' slot="start" (click)="onImageClicked($event)" no-margin>
      <!-- onerror="this.src='../assets/img/6.jpg'" -->

      <img [src]="orderRow.ext.Product.data.thumbUrl" onerror="this.src='assets/img/no-image.jpg';this.onerror='';"/>
    </ion-thumbnail>
    <ion-label  (click)="_expanded = !_expanded">
      <ion-row>
        <ion-col size="4" text-center>
          <span title="qty">{{ orderRow.data.qty }}</span>
        </ion-col>
        <ion-col size="4" text-center>
          <span title="price">{{ orderRow.data.price }}</span>
        </ion-col>
        <ion-col size="4" text-center>
          <span title="ammount: ">{{ orderRow.data.ammount }}</span>
        </ion-col>
      </ion-row>
      <ion-row text-wrap>
        <ion-col size="auto">
          <span class="name-bold">{{ orderRow.ext.Product.data.name }}</span>
          <ion-note *ngIf="orderRow.ext.Product.data.style"
            >- {{ orderRow.ext.Product.data.style }}</ion-note
          >
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
  <app-expandable *ngIf="_expandable" expandHeight="150px" [expanded]="_expanded"  (contentClick)='_expanded=false'>
  <ng-container>
    <app-order-view [showNotes]='false' [order]='orderRow.ext.order'></app-order-view>
      <app-packing-list class="ion-padding-top"  [orderRows]="[orderRow]">
      </app-packing-list>
  </ng-container>


</app-expandable>