<!-- Generated template for the OrderHeaderViewComponent component -->
<ion-card-header no-padding padding-horizontal>
  <ion-item>
    <ion-icon name="person" slot='start'></ion-icon>
    <ion-label>
      {{order.ext.account?.data.name}}
      <ion-note *ngIf="order.ext.account?.data.city">
        - {{order.ext.account?.data.city}}
      </ion-note>
    </ion-label>

  </ion-item>
</ion-card-header>
<ion-item>
  <ion-thumbnail *ngIf="order.data.imageUrl" (click)=" onImageClicked($event)" slot="end">
    <img [src]="order.data.imageUrl">
  </ion-thumbnail>
  <ion-row>
    <ion-col style="font-weight: bold" size="auto" *ngIf="order.data.ammount ">
      <span text-end style="display: inline-block; width: 75px;">
        القيمة:
      </span>
      <span text-start>
        {{order.data.ammount| currency:'USD':'symbol':'2.2-2'}}
      </span>
    </ion-col>
    <ion-col size="auto" >
      <span text-end style="display: inline-block; width: 75px;">
        التسليم:
      </span>
      <span text-start>
        {{order.data.deliveryDate}}
      </span>
    </ion-col>
    <ion-col size="auto" >
      <span text-end style="display: inline-block; width: 75px;">
      CBM:
      </span>
      <span text-start>
        {{order.data.cbm}}
      </span>
    </ion-col>

  </ion-row>
</ion-item>

<ion-row>
    <ion-col size="auto" *ngIf="order.data.date">
        <ion-note class="date-small">
          <ion-icon name="calendar"></ion-icon>
          {{order.data.date | date:"shortDate"}}
        </ion-note>
      </ion-col>
      <ion-icon name="create" ></ion-icon>

</ion-row>