<!-- Generated template for the OrderHeaderViewComponent component -->
<ion-card-header no-padding padding-horizontal>
  <ion-item lines="none">
    <ion-label>
      <ion-icon name="person"></ion-icon>
      {{order.ext.account?.data.name}}
      <ion-note *ngIf="order.ext.account?.data.city">
        @ {{order.ext.account?.data.city}}
      </ion-note>
    </ion-label>

  </ion-item>
</ion-card-header>
<ion-item lines="none">
  <ion-thumbnail *ngIf="order.data.imageUrl" (click)=" onImageClicked($event)" slot="start">
    <img [src]="order.data.imageUrl">
  </ion-thumbnail>
  <ion-row class="ion-justify-content-between">
    <ion-col style="font-weight: bold" size="auto">
      <span text-end>
        Ammount: {{(order.data.ammount||0)| storeCurrency:storeInfo}}
      </span></ion-col>
    <ion-col size="auto">
      <ion-note> deposit: {{order.data.deposit| storeCurrency:storeInfo}}</ion-note>
    </ion-col>
    <ion-col size="auto">
      <span text-end style="display: inline-block; width: 75px;">
        Delivery:
      </span>
      <span text-start>
        {{order.data.deliveryDate  | date: "dd-MM-yy" }}
      </span>
    </ion-col>
    <ion-col size="auto">
      <span text-end style="display: inline-block; width: 75px;">
        CBM:
      </span>
      <span text-start>
        {{order.data.cbm||0}}
      </span>
    </ion-col>

  </ion-row>
</ion-item>

<ion-row>
  <ion-col size="auto" *ngIf="order.data.date">
    <ion-note class="date-small">
      <ion-icon name="calendar"></ion-icon>
      {{order.data.date  | date: "dd-MM-yy" }}
    </ion-note>
  </ion-col>
</ion-row>