<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" slot="icon-only">
          </ion-icon>
        </ion-button>
      </ion-menu-toggle> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>EditStoreInfo</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <form *ngIf="storeDoc$|async as storeDoc" novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <ion-list>
      <ion-item [class.invalid]="!nameCtrl.valid && (nameCtrl.touched || submitAttempt)">
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!nameCtrl.valid && (nameCtrl.touched || submitAttempt)">
          <ion-text color="danger" class="form-error" *ngIf="nameCtrl.hasError('required')" >
          * name is rquired
        </ion-text>
        <ion-text color="danger" class="form-error" *ngIf="nameCtrl.hasError('minlength') || nameCtrl.hasError('maxlength')">
          * name must be at least 3 chars, at most 40 chars
        </ion-text>
      </ion-item>

   
        <ion-item [class.invalid]="!currencyCtrl.valid && (nameCtrl.touched || submitAttempt)">  
          <ion-label>Currency</ion-label>
          <ion-select  interface="popover"  formControlName="currency" placeholder="Select Currency">
            <ion-select-option *ngFor="let key of currencyKeys" [value]="key">{{key}} : ({{currencies[key]}})</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item *ngIf="!currencyCtrl.valid && (currencyCtrl.touched || submitAttempt)">
        <ion-text color="danger" class="form-error" *ngIf="currencyCtrl.hasError('required')" >
        * currency is rquired
      </ion-text>
      <ion-text color="danger" class="form-error" *ngIf="currencyCtrl.hasError('maxlength')">
        * currency must be at most 3 letters
      </ion-text>
    </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="onCancel()" color="light">cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" [disabled]="form.invalid" (click)="onSubmit(form)" full  color="primary"> save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>