<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button [routerLink]="['/StoreBase/EditAccount', 'new']" color="royal">
            <ion-icon slot="icon-only" name="person-add"></ion-icon>
          </ion-button>
        </ion-buttons>    
    <ion-buttons slot="start">
      <ion-button *ngIf="canSelect" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-menu-toggle  *ngIf="!canSelect"  menuToggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>AccountsList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="totalBalanceObj|async as _totalBalanceObj">
      Total Balances :
      <h2 [style.color]='_totalBalanceObj.isDirty ? "red" :""' item-right>{{_totalBalanceObj.balance}}
        <span *ngIf="_totalBalanceObj.isDirty"> !</span>
      </h2>
    </ion-item>
    <ion-item-sliding *ngFor="let account of accounts |async">
      <!--[routerLink]="['/StoreBase/AccountTransactionsList', account.id]" -->
      <ion-item [routerLink]="['/StoreBase/AccountTransactionsList', account.id]" text-wrap>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
          <span>{{account.data.name}}</span>
          <ion-note>/{{account.data.city}}</ion-note>

        </ion-label>
        <h2 (click)="invalidateBalance(account)" [style.color]='account.ext.$balanceObj?.data.isDirty ? "red" :""' slot="end">{{account.ext?.$balance}}
          <span *ngIf="account.ext.$balanceObj?.data.isDirty"> ! </span>
          <ion-spinner *ngIf="account.meta.hasPendingWrites" item-right name="bubbles"></ion-spinner>
        </h2>
      </ion-item>
      <ion-item-options slot="start">
        <ion-item-option [routerLink]="['/StoreBase/EditAccount', account.id]" expandable>
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option (click)="onDelete(account)" expandable>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
  <ion-buttons start>
    <ion-button [routerLink]="['/StoreBase/EditAccount', 'new']" icon-only color="royal">
      <ion-icon name="person-add"></ion-icon>
    </ion-button>
    <ion-searchbar aria-label="search" [showCancelButton]="true" [formControl]="searchControl"></ion-searchbar>
  </ion-buttons>
</ion-toolbar>
</ion-footer>