<ng-container *ngIf="activreStoreInfo|async as storeInfo">


  <div *ngIf='showListHeader' class="header-item, list-header" color="light">

    <ion-row>
      <ion-col size="3" text-center>
        <span title="quantity">No.</span>
      </ion-col>
      <ion-col size="3" text-center>
        <span title="quantity">date</span>
      </ion-col>
      <ion-col size="2" text-center>
        <span title="price">CBM </span>
      </ion-col>
      <ion-col size="4" text-center>
        <span title="AMMOUNT">ammount</span>
      </ion-col>
    </ion-row>
  </div>

  <!-- <app-order-row *ngFor="let order of orders, let i=index" (plLineClicked)="onRowClicked(i)" 
    [order]="order" [index]="i" [isActive]="i==activeLineIndex"></app-order-row> -->
  <ng-container *ngFor="let order of orders, let i=index">
      <app-order-view [showHeader]='false' [order]=order [storeInfo]='storeInfo' [expanded]='i==activeLineIndex'  (click)="toggleActiveOrder(i)"></app-order-view>
    <!--
<ng-container *ngIf='i!=activeLineIndex; else orderCard'>
    <ion-row class="ion-no-padding">
      <ion-col size="3" text-center>
        <span title="Number">0000</span>
      </ion-col>
      <ion-col size="3" text-center>
        <span title="qty">{{ order.data.deliveryDate | date : 'd/M' }}</span>
      </ion-col>
      <ion-col size="3" text-center>
        <span title="CBM">{{ order.data.cbm || '---' }}</span>
      </ion-col>
      <ion-col size="3" text-center>
        <span title="ammount: ">{{ order.data.ammount  | storeCurrency : storeInfo }}</span>
      </ion-col>
    </ion-row>
    <ion-item class="ion-no-padding" (click)="toggleActiveOrder(i)" [ngClass]="i % 2 == 1 ? 'odd-row' : 'even-row'"
      [class.active]="i==activeLineIndex" >
      <ion-thumbnail slot="start" no-margin>
        <img [src]="order.data.imageUrl" onerror="this.src='assets/img/no-image.jpg';this.onerror='';" />
      </ion-thumbnail>
      <ion-label>
        <ion-row class="ion-justify-content-between">
          <ion-col size="auto">
            <span class="name-bold">{{ order.ext.account.data.name }}</span>
          </ion-col>
          <ion-col size="auto">
            <ion-note *ngIf="order.data.date">
              <ion-icon name="calendar"></ion-icon>
              {{ order.data.date | date}}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
 -->

    
  </ng-container>
<!-- 
    <ng-template #orderCard>
      <ion-card color="primary" class="orderCard, order-card-trimmed" (click)="activeLineIndex = undefined">
        <app-order-view [order]=order [storeInfo]='storeInfo'></app-order-view>

        <div class="transparent ion-text-center ion-align-items-center ion-text-uppercase">
          <ion-ripple-effect> </ion-ripple-effect>
          <ion-text (click)="openOrder(order.id)" class="ion-text-center">
            Expand
            <ion-icon name="open"></ion-icon>
          </ion-text>
        </div>
      </ion-card>
    </ng-template>
     -->

  

  <!--
    <app-order-rows-list [showTotals]="false" *ngIf="(order.ext.extRows) as lines;" [rows]="lines">
    </app-order-rows-list>
   -->

  <div *ngIf="totals" class="header-item">
    <ion-item no-padding>
      <ion-thumbnail style="height: 10px " class="thumbnail-placeholderr" slot="start">
        <span>Totals</span>
      </ion-thumbnail>
      <ion-label>
        <ion-row>
          <ion-col size="4" text-center>
            <span title="quantity">{{totals.qty}}</span>
          </ion-col>
          <ion-col size="4" text-center>
            <span title="price">{{totals.cbm}} </span>
          </ion-col>
          <ion-col size="4" text-center>
            <span title="AMMOUNT">{{totals.ammount  | storeCurrency : storeInfo}}</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>

  </div>
<!-- </ng-container> -->
</ng-container>