.thumbnail-placeholder{
    height: 10px !important;
}
.header-item{

    ion-label{
        margin-top: 1px;
        margin-bottom: 1px;
    }
}
.datatable-summery{
    padding-left: 8px;
    padding-right: 8px;
    background: #cfe3f3;
    height: 20px; width: 100%;
}
.list-header{
    --ion-background-color:rgba(94, 167, 250, 0.801);
    font-weight: bold;
}
.packing-title{
    padding: 10px;
    font-weight: bolder;
    background-color: rgba(46, 138, 243, 0.801);
    color: white;

}
.name-bold {
    font-weight: bold;
  }
  
  
  
  .odd-row {
    background-color: white;
  }
  .even-row {
    background: rgba(240, 240, 240, 1);
  }
  .active {
    background-color: rgb(215, 217, 245);
  }