<ng-container *ngIf="activreStoreInfo|async as storeInfo">


  <!-- <div *ngIf='showListHeader' class="header-item, list-header" color="light">

    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <span title="quantity">No.</span>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <span title="quantity">date</span>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <span title="price">CBM </span>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <span title="AMMOUNT">ammount</span>
      </ion-col>
    </ion-row>
  </div> -->
  <ion-item color="secondary">
    <ion-label>
      <div class="header-item, list-header">
        found {{orders && orders.length}} order/s
      </div>
    </ion-label>
    <ion-icon slot="end" name="reorder" (click)="toggleReorder()"></ion-icon>
  </ion-item>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="!reorderGroupEnabled">

    <div style="position: relative;" *ngFor="let order of orders, let i=index">

      <app-order-view [forProductId]='forProductId' [order]=order></app-order-view>
          <ion-reorder *ngIf="reorderGroupEnabled" class="ion-text-center expanded-reorder opacity-reorder"   >
              <ion-icon name="reorder"></ion-icon>
            </ion-reorder>
     

    </div>
  </ion-reorder-group>
  <div *ngIf="totals" class="header-item">
    <ion-item class="ion-no-padding">
      <ion-thumbnail style="height: 10px " class="thumbnail-placeholderr" slot="start">
        <span>Totals</span>
      </ion-thumbnail>
      <ion-label>
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <span title="quantity">{{totals.qty}}</span>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <span title="price">{{totals.cbm}} </span>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <span title="AMMOUNT">{{totals.ammount  | storeCurrency : storeInfo}}</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>

  </div>

</ng-container>