.image-container{
    min-height: 200px;
    background-size: cover;
}
#file-input {
    display: none
 }
 .fixed{
     position: fixed;
 }
 .thumb-text{
    position: absolute;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    padding-bottom: 8px;
    background-color: #0f090987;
    padding-inline-start: 2px;
}
.thumb-view{
    position: relative;
}
.image__grid {
    margin-top: 5px;
    overflow: hidden;
    .image__square:nth-child(4n+4){
        padding-right: 5px;
    }
    .image__square {
        height: 25vw;
        width: 25vw;
        float: left;
        padding: 0px 0px 5px 5px;
        img {
            height: 100%;
                width: 100%;
                object-fit: cover;
        }
    }
}