<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="addPhoto()">
        <ion-icon name="attach" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PhotoGallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>		
    <div class="image__grid">		
      <div class="image__square" *ngFor="let image of storeImages|async as images; let i = index" 
      (click)="onClick(i,images)">
  
        <img [src]="image.data.thumbUrl" />				
      </div>			
    </div>
    <input type="file" (change)="onPhotoAdded($event)" accept="image/*" id="file-input" #fileInput>
  </ion-content>