<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="canSelect" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>      <ion-back-button  *ngIf="!canSelect"></ion-back-button>

    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="openNativeFileInput()">
            <ion-icon name="attach" slot="icon-only"></ion-icon>
          </ion-button>

              </ion-buttons>
    <ion-title>PhotoGallery 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image__grid">
    <div class="image__square" *ngFor="let image of storeImages|async as images; let i = index; trackBy:trackByFn" (click)="onClick(i,images)">
        <img [src]="image.data.url" *ngIf="image.data.url; else noThumb"/>
      <ng-template #noThumb>
        <ng-container  *ngIf="image.ext.imgSaveInfo; else noImage">
            <ion-spinner name="lines" class="fixed"></ion-spinner>
            <img [src]="image.ext.imgSaveInfo.safeThumbBlobUrl"/>
        </ng-container>
        <ng-template #noImage>
          <img src="" >
        </ng-template>
      </ng-template>
    </div>
  </div>
  

</ion-content>
<input type="file" (change)="onFileInpuChanged2($event)" accept="image/*" id="file-input" #fileInput />
