<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" slot="icon-only">
            
          </ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="../assets/icon/icon.png" />

    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form ng-submit="onSubmit()" [formGroup]="form">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="email" placeholder="Email" name="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <ion-button (click)="onSubmit(form)" class="submit-btn" full type="submit">Sign up</ion-button>
          <ion-button class="register-btn" block clear routerLink="/login">Already have Account</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>