<ion-header>
  <ion-toolbar>
    <ion-title>{{(userStore|async)?.data?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
<!-- 
      <ion-button  (click)="onEdit()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>    
      <ion-button  (click)="downloadImage() ">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button> -->
      <ion-button appMorePopOver [actions]='actions' (action)='onAction($event)' >
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content no-badding color="dark">

  <ion-slides style="height:100%;" [options]="{initialSlide:slideIndex}" #slids>
    <ng-container *ngIf='(activeSlideIndex|async )+1 as activeIndexPlusOne  '>
      <ion-slide *ngFor="let product of filteredProducts|async, let i= index" style=" height: 100%;"
        (click)="showSlideDetails = !showSlideDetails">
        <!-- <div style='position: absolute; top: 0'>
          i: {{i}}, activeIndexPlusOne : {{activeIndexPlusOne}}

         </div> -->
        <!-- https://css-tricks.com/almanac/properties/o/object-fit/ -->
        <div class="swiper-zoom-container">
          <ng-container
            *ngIf='i == activeIndexPlusOne-1  || i == activeIndexPlusOne   || i == activeIndexPlusOne-2 '>
            <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-fab-button class="slideMoreFAB" size="small">
                <ion-icon name="more"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="bottom">
                <ion-fab-button [routerLink]="'/EditProduct/'+product.id">Edit</ion-fab-button>
              </ion-fab-list>

            </ion-fab> -->
            <app-product-view [product]="product" [options]="{view: 'SLIDE', editable:false, showSlideDetails:showSlideDetails}"
              style="width: inherit; height: inherit;"></app-product-view>
          </ng-container>

        </div>
      </ion-slide>
    </ng-container>
    <!-- https://css-tricks.com/almanac/properties/o/object-fit/ -->
  </ion-slides>
  <ng-container *ngIf="showSlideDetails">
    <!-- [ngClass]="slids.el.dir ==='rtl' ? 'swiper-button-next' : 'swiper-button-prev'" 
       *ngIf="!slids.isBeginning()" 
      -->
    <div class='swiper-button-next' (click)="slids.slideNext()"></div>
    <!--
               [ngClass]="slids.el.dir !=='rtl' ? 'swiper-button-next' : 'swiper-button-prev'"
             *ngIf="!slids.isEnd()"
              -->
    <div class='swiper-button-prev' (click)="slids.slidePrev()"></div>
  </ng-container>

</ion-content>