.font-small{
    font-size: small;
    font-weight: lighter;
}
.font-bold{
    font-weight: bold;
}

.row-revers{
    flex-direction: row-reverse;
    justify-content: space-between;
}
ion-thumbnail{
    width: 70px;
    height: 70px;
}
.fixed{
    position: fixed;
}
.swiper-zoom-container{
   height: unset;
}


@media (min-width: 0px) {
    .images {
        column-count: 2;
    }
}

@media (min-width: 420px) {
    .images {
        column-count: 3;
    }
}

@media (min-width: 720px) {
    .images {
        column-count: 4;
    }
}

ion-button img{
    width: 1em;
    height: 1em;
    font-size: x-large;
}
.one-image {
    margin: 2px 0px;
}
.swiper-zoom-container{
    height: 100%;
    display: -webkit-box;
}
.slideMoreFAB{
    --background: #8b7b7b40;
}