<ion-header>

  <ion-toolbar>


    <ng-template #showTitle>
      <ion-title>ProductsList</ion-title>
    </ng-template>
    <ion-searchbar *ngIf="showSerach; else showTitle" aria-label="search" [formControl]="searchControl" #searchBar>
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showNewProduct()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button *ngIf="canSelect" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="backView()" *ngIf="toggleView; else toggleViewButton">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
      <ng-template #toggleViewButton>
          <ion-button (click)="presentPopover($event)">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
      
      </ng-template>
      <ion-button (click)="toggleSearch()">
        <img [src]="showSerach ? '/assets/svg/search-close.svg' : '/assets/svg/search.svg'" style="height : 70%" />

      </ion-button>
      <!-- <ion-menu-toggle  *ngIf="!canSelect" menuToggle>
        <ion-button>

          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle> -->
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content no-badding color="dark">

  <ion-list #slidingItem1 *ngIf="(view === 'LIST' || view === 'CARDS'); else slidesView">
    <app-product-view *ngFor="let product of filteredProducts|async; let i=index; trackBy: trackByFn" [product]="product"
      [options]="{view: view === 'LIST' ? 'ITEM' : 'CARD', editable:true}" (copy)="showCopyProduct(product)"
      (edit)="showEditProduct(product.id)" (delete)="delete(product)"
      (prodClick)="onProductClicked(product,i)"></app-product-view>
  </ion-list>
  
  <!-- 
    <ion-list #slidingItem1 *ngIf="(view === 'LIST' || view === 'CARDS'); else slidesView">
    <app-product-view *ngFor="let product of filteredProducts|async" [product]="product"
      [options]="{view: view === 'LIST' ? 'ITEM' : 'CARD', editable:true}"
      (copy)="showCopyProduct(product)" (edit)="showEditProduct(product.id)"
      (delete)="delete(product)"></app-product-view>
  </ion-list>
 -->


  <ng-template #slidesView >
    <ng-container  *ngIf="view === 'SLIDES'; else gridView" #slids>
      
    <ion-slides style="height:100%;"
    [options]= "{initialSlide:slideIndex}"    >
      <ion-slide *ngFor="let product of filteredProducts|async"
      style=" height: 100%;"
        (click)="showSlideDetails = !showSlideDetails">
        <!-- https://css-tricks.com/almanac/properties/o/object-fit/ -->
        <div class="swiper-zoom-container">
          <app-product-view [product]="product" [options]="{view: 'SLIDE', editable:false}"
            style="width: inherit; height: inherit;"></app-product-view>
        </div>
      </ion-slide>

      <!-- https://css-tricks.com/almanac/properties/o/object-fit/ -->
    </ion-slides>
    <ng-container *ngIf="showSlideDetails">
      <!-- [ngClass]="slids.el.dir ==='rtl' ? 'swiper-button-next' : 'swiper-button-prev'" 
       *ngIf="!slids.isBeginning()" 
      -->
      <div class='swiper-button-next' (click)="slids.slidePrev()"></div>
      <!--
               [ngClass]="slids.el.dir !=='rtl' ? 'swiper-button-next' : 'swiper-button-prev'"
             *ngIf="!slids.isEnd()"
              -->
      <div class='swiper-button-prev' (click)="slids.slideNext()"></div>
    </ng-container>
  </ng-container >

  </ng-template>

  <ng-template #gridView >
      <div class="images">
        <app-product-view class="one-image"  *ngFor="let product of filteredProducts|async; let i=index" [product]="product" [options]="{view:'THUMB', editable:false}"
          (prodClick)="onProductClicked(product,i)">
        </app-product-view>

      </div>
  </ng-template>


</ion-content>