<ion-list>
  <ion-item button *ngIf='_actions.indexOf(PageActions.SAVE)>=0' (click)="optionClicked(PageActions.SAVE)">
    <ion-icon slot="start" name="save"></ion-icon>
    <ion-label>Save</ion-label>
  </ion-item>
  <ion-item button *ngIf='_actions.indexOf(PageActions.ADDNEW)>=0' (click)="optionClicked(PageActions.ADDNEW)">
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-label>Add new</ion-label>
  </ion-item>
  <ion-item button *ngIf='_actions.indexOf(PageActions.COPY)>=0' (click)="optionClicked(PageActions.COPY)">
    <ion-icon slot="start" name="copy"></ion-icon>

    <ion-label>copy</ion-label>
  </ion-item>
  <ion-item *ngIf='_actions.indexOf(PageActions.DELETE)>=0' (click)="optionClicked(PageActions.DELETE)">
    <ion-icon slot="start" name="trash"></ion-icon>

    <ion-label>delete</ion-label>
  </ion-item>
  <ion-item *ngIf='_actions.indexOf(PageActions.EDIT)>=0' (click)="optionClicked(PageActions.EDIT)">
    <ion-icon slot="start" name="create"></ion-icon>

    <ion-label>EDIT</ion-label>
  </ion-item>
  <ion-item *ngIf='_actions.indexOf(PageActions.DOWNLOADIMAGE)>=0' (click)="optionClicked(PageActions.DOWNLOADIMAGE)">
    <ion-icon slot="start" name="download"></ion-icon>

    <ion-label>DOWNLOAD IMAGE</ion-label>
  </ion-item>
  <ion-item *ngIf='_actions.indexOf(PageActions.FILTER)>=0' (click)="optionClicked(PageActions.FILTER)">
      <ion-icon slot="start" name="search"></ion-icon>
  
      <ion-label>filter</ion-label>
    </ion-item>
    <ion-item *ngIf='_actions.indexOf(PageActions.REORDER)>=0' (click)="optionClicked(PageActions.REORDER)">
        <ion-icon slot="start" name="reorder"></ion-icon>
    
        <ion-label>filter</ion-label>
      </ion-item>
</ion-list>

<ion-list *ngIf='_views && _views.length'>
  <ion-radio-group [value]="view" (ionChange)="viewChanged($event)">
    <ion-list-header>
      <ion-label>View</ion-label>
    </ion-list-header>

    <ion-item *ngIf='_views.indexOf(View.GRID)>=0'>
      <ion-label>GRID</ion-label>
      <ion-radio slot="end" value="{{View.GRID}}"></ion-radio>
      <img slot="start" style="max-height: 1em;" src='/assets/svg/thumbnails.svg'>

    </ion-item>

    <ion-item *ngIf='_views.indexOf(View.LIST)>=0'>
      <ion-label>list</ion-label>
      <ion-radio slot="end" value="{{View.LIST}}"></ion-radio>
      <img slot="start" style="max-height: 1em;" src='/assets/svg/list.svg'>

    </ion-item>

    <ion-item *ngIf='_views.indexOf(View.CARDS)>=0'>
      <ion-label>CARDS</ion-label>
      <ion-radio slot="end" value="{{View.CARDS}}"></ion-radio>
      <img slot="start" style="max-height: 1em;" src='/assets/svg/card-thumbs.svg'>
    </ion-item>

  </ion-radio-group>
</ion-list>