<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" slot="icon-only"> </ion-icon>
        </ion-button>
      </ion-menu-toggle> -->

      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>UserStores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf='userStores | async as ss'>
    <ng-container *ngFor="let userStore of ss">
      <ion-item (click)="onStoreSelected(userStore)" *ngIf="userStore.data.status !== 'INVITED'; else invited">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          {{ userStore.data.storeInfo.name }}
          <ion-note>{{ userStore.id }}</ion-note>
        </ion-label>
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-item>
      <ng-template #invited>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            {{ userStore.data.storeInfo.name }}
            <ion-note>{{ userStore.id }}</ion-note>
          </ion-label>
          <ion-button (click)="accept(userStore)">
            <ion-icon slot="end" name="checkmark"></ion-icon>
            accept
          </ion-button>
        </ion-item>
      </ng-template>

    </ng-container>


  </ion-list>

  <ion-button full [routerLink]="['/EditStoreInfo', { id: 'new' }]">
    new Store</ion-button>
</ion-content>