.name-bold{
    font-weight: bold;
}
// .order-header-blue{
//     --background: rgba(94, 167, 250, 0.986);
// }
.small-thumb{
    --size : 100px;
    --border-radius: 5px;
    padding: 5px;
   // margin-bottom: 1px;

 //   width: 60px;
 //   height: 60px;
  }
  ion-item.narrow-item{
    --min-height: 30px;
  }
