<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/StoreBase/ProductsList']">
        <ion-icon slot="icon-only" name="shirt"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/StoreBase/EditOrderHeader',{id:'new', plId:plId|async}]">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" slot="icon-only">
          </ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Packing List
      <ng-container *ngIf='plInfo|async as pList'>
        <p [routerLink]="['/StoreBase/Packinglists']" class="ion-no-margin" style="font-size: smaller"
          *ngIf="pList.data">
          pList: {{pList.data.name}}</p>
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <!-- <ng-container *ngIf="(plId | async) as pl; else selectPL"> -->
        <ng-container >
            <ion-row *ngIf="(plInfo | async) as pl" [routerLink]="['/StoreBase/EditPackingListInfo', pl.id]"
      style="background-color: #f3fbfd;">
      <ion-col>
        <ion-text color="primary">
          <h1>{{ pl.data.name }}</h1>
        </ion-text>
        <ion-note>loading in </ion-note> {{ pl.data.date | date: "d/M/y" }} <ion-note> in</ion-note>
        {{ pl.data.deliveryAdress }}
      </ion-col>
    </ion-row>
    <ng-container *ngIf=" totals$ | async as totals">
      <ion-row class="ion-justify-content-around">
        <ion-col size="6">ctns: {{ totals.ctns }}</ion-col>
        <ion-col size="6"> <span class="float-end">CBM: {{ totals.cbm | number : '1.1-2' }}</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-note text-wrap>
          <span>Ammount:{{ totals.ammount }} | </span>
          <span>Deposits:{{ totals.deposit }} | </span>
          <span>Quantity:{{ totals.pieces }} | </span>
        </ion-note>
      </ion-row>
    </ng-container>
    <ion-segment value="ALL" [formControl]="show">
      <ion-segment-button value="ALL">
        <ion-label>all</ion-label>
      </ion-segment-button>
      <ion-segment-button value="DELIVERED">
        <ion-label>Delivered</ion-label>
      </ion-segment-button>
      <ion-segment-button value="NOTDELIVERED">
        <ion-label>not Delivered</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-segment #displayMode value="orders">
      <ion-segment-button value="orders"> Orders </ion-segment-button>
      <ion-segment-button value="rows"> Rows </ion-segment-button>
      <ion-segment-button value="lines"> P Lines </ion-segment-button>
    </ion-segment>
    <ng-container [ngSwitch]="displayMode.value">
      <app-packing-list *ngSwitchCase="'lines'" [orderRows]="plOrdersRows | async">
      </app-packing-list>
      <app-order-rows-list *ngSwitchCase="'rows'" [rows]="plOrdersRows | async">
      </app-order-rows-list>
      <div *ngSwitchCase="'orders'">
        <app-orders-list [orders]="(plOrders | async)">

        </app-orders-list>
        <!-- <ion-item *ngFor="let order of (plOrders | async)" (click)="openOrder(order.id)">
        <app-order-header-view [order]="order"></app-order-header-view>
      </ion-item> -->
      </div>
    </ng-container>
  </ng-container>
  <ng-template #selectPL>
    <ion-button fill="solid" shape="round" [routerLink]="['/StoreBase/Packinglists']">
      Select Pl
    </ion-button>
  </ng-template>
</ion-content>