<!--
  <pre>
    Edit : {{orderRow}}
  </pre>
-->
<div
  class="order-row-editor-wraper"
  *ngIf="orderRow && orderRow.data.productId; else: newRowButton"
>
  <app-order-row [orderRow]="orderRow"></app-order-row>
  <ion-fab
    vertical="top"
    edge
    horizontal="start"
    color="secondery"
    slot="fixed"
  >
    <ion-row no-padding>
      <ion-col>
        <ion-fab-button mini (click)="showEditOrderRowModal()">
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button mini color="secondary" (click)="removeRow($event)">
          <ion-icon name="trash"></ion-icon> </ion-fab-button></ion-col
    ></ion-row>
  </ion-fab>
</div>
<ng-template #newRowButton>
  <ion-button (click)="showEditOrderRowModal()" expand="full">
    new row
  </ion-button>
</ng-template>
