<ion-header>
  <ion-toolbar>
    <ion-title>More 2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ng-container *ngIf="user$|async as user; else noUser" >
  <!-- store links -->
    <ion-list *ngIf="activeStore$|async as store" class="ion-padding">
        <ion-item-divider color="light">
            <ion-button slot="end" fill="clear" routerLink="EditStoreInfo">
              <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
            {{store.data.name}}
          </ion-item-divider>
                  <ion-item (click)="open(link.path)" 
         *ngFor="let link of storeLinks">
          <ion-label>
            {{link.title}}
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- user links  -->
      <ion-list class="ion-padding">
          <ion-item-divider color="light">
                <ion-avatar slot="start">
                  <img src="./assets/img/avatar.jpg">
                </ion-avatar>
                <ion-label>{{user.data.displayName}}</ion-label>
              <ion-button slot="end" fill="clear" routerLink="/UserProfile">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
              </ion-button>
            </ion-item-divider>
                  <ion-item  (click)="openAbsolute(link.path)" 
           *ngFor="let link of userLinks">
            <ion-label>
              {{link.title}}
            </ion-label>
          </ion-item>
          <ion-item (click)="onLogOut()">
            <ion-label>
              logout
            </ion-label>
          </ion-item>
        </ion-list>
</ng-container>
<ng-template #noUser>
    <h1>Error: please reopen the appp</h1>

</ng-template>
</ion-content>