<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button [routerLink]="['/StoreBase/EditPackingListInfo','new']">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>

    <ion-buttons slot="start">
     <ion-menu-toggle menuToggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Packing List</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-item *ngFor="let pl of packinglists|async, let i=index"  [routerLink]="['/StoreBase/Packinglist',pl.id]">
    <h1>
      {{pl.data.name}}
    </h1>
    <ion-note>
      lloading in {{pl.data.date | date: "dd-MM-yy" }} in {{pl.data.deliveryAdress}}
    </ion-note>
  </ion-item>
</ion-content>