.input-small-padding{
    padding: 1px;
    text-align: center;
    --padding-end: 0px;
}

.text-center{
    text-align: center;
}
.order-rows-list{
    border: solid;
    border-color: rgba(46, 138, 243, 0.801);
}
.packing-header{
    font-weight: bold;
    background-color: rgba(94, 167, 250, 0.801);
}
.packing-title{
    padding: 10px;
    font-weight: bolder;
    background-color: rgba(46, 138, 243, 0.801);
    color: white;

}
