<ion-row class="packing-header" class="ion-align-items-end">
  <ion-col class="text-center"> <span>Ctn. No.</span> </ion-col>
  <ion-col class="text-center"> <span>ctns</span> </ion-col>
  <ion-col class="text-center"> <span>packing</span> </ion-col>
  <ion-col class="text-center"> <span>Qty</span> </ion-col>

  <ion-col class="text-center"> <span>Shipping Mark</span> </ion-col>
</ion-row>
<ion-item class="ion-no-margin" class="ion-no-padding" class="ion-wrap" class="no-inner-padding">
  <ion-label class="ion-no-margin" class="ion-no-padding" class="ion-wrap">

    <div *ngFor="let orderRow of orderRows" class="packing-row" color="tertiary">
      <ion-row>
        <ion-col>
          <span>{{ orderRow.ext.Product.data.name }}</span>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="orderRow.data.packingLines && orderRow.data.packingLines.length; else noPackingLines">

        <ion-row class="ion-align-items-center" *ngFor="let packingLine of orderRow.data.packingLines; let i = index">
          <ion-col class="text-center italic">
            <span class="input-small-padding">{{ packingLine.ctnNo }}</span>
          </ion-col>

          <ion-col class="text-center">
            <span class="input-small-padding">{{ packingLine.ctns }}</span>
          </ion-col>
          <ion-col class="text-center">
            <span class="input-small-padding">{{ packingLine.packing }}</span>
          </ion-col>
          <ion-col class="text-center">
            <span class="input-small-padding">{{
                packingLine.packing * packingLine.ctns
              }}</span>
          </ion-col>

          <ion-col class="ion-text-wrap" class="text-center italic">
            <span class="input-small-padding">{{ packingLine.shippingMark }}</span>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #noPackingLines>
          <ion-text color="secondary" class="ion-text-center" >
            <span>no packing lines found</span>
          </ion-text>
        </ng-template>
    </div>
  </ion-label>

</ion-item>