.datatable-row-center{
    display:flex;
    text-align: center;
}
.datatable-header{
    padding-left: 8px;
    padding-right: 8px;
    background: #a4c0d6;
    height: 20px; width: 100%;
}
.datatable-summery{
    padding-left: 8px;
    padding-right: 8px;
    background: #cfe3f3;
    height: 20px; width: 100%;
}
.datatable-header-cell {
    font-weight: bold;
}
.datatable-header-cell-wrapper {
vertical-align: bottom}