<div class="pline-row-wrapper" (click)="onPlLineClicked()" [ngClass]="index%2==1?'odd-row':'even-row'" [class.active]="isActive"
  no-padding>
  <div class="pline-body-row">
    <div class="pline-row-center pline-row-group">
      <div class="pline-body-cell ctns-cell">
        <div class="pline-body-cell-label" style=" height: auto;">
          <span title="23">{{plLine.data.ctns}}</span>
        </div>
      </div>
      <div class="pline-body-cell packing-cell" style=" height: auto;">
        <div class="pline-body-cell-label">
          <span title="96">{{plLine.data.packing}}</span>
        </div>
      </div>
      <div class="pline-body-cell qty-cell" style=" height: auto;">
        <div class="pline-body-cell-label">
          <!--bindings={}-->
          <!--bindings={
        "ng-reflect-ng-if": "true"
      }-->
          <span title="2208">{{plLine.data.qty}}</span>
          <!--bindings={}-->
        </div>
      </div>
      <div class="pline-body-cell price-cell" style=" height: auto;">
        <div class="pline-body-cell-label">
          <span title="21.9">{{plLine.data.price}}</span>
          <!--bindings={}-->
        </div>
      </div>
      <div class="pline-body-cell ammount-cell">
        <div class="pline-body-cell-label">
          <!--bindings={}-->
          <!--bindings={
        "ng-reflect-ng-if": "true"
      }-->
          <span title="48355.2">{{plLine.data.ammount}}</span>
          <!--bindings={}-->
        </div>
      </div>
    </div>
  </div>
  <div class="pline-row-detail">
    <ion-item lines="none">
      <ion-thumbnail (click)="onImageClicked($event)" item-start>
        <!--
          onerror="this.src='../assets/img/6.jpg'"
        -->
        <img [src]="plLine.ext.Product.data.thumbUrl">
      </ion-thumbnail>

      <p>{{plLine.data.shippingMark}}</p>
      <span>{{plLine.ext.Product.data.name}}</span>
      <ion-note *ngIf="plLine.ext.Product.data.style">- {{plLine.ext.Product.data.style}}</ion-note>

    </ion-item>
  </div>

  <ion-fab *ngIf="isActive" left top>
    <ion-fab-button  mini icon-only [routerLink]="['/StoreBase/EditOrderLine/', plLine.id]">
      <ion-icon name="copy"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-fab *ngIf="isActive" left bottom>
    <ion-fab-button ion-fab mini icon-only (click)="onPlLineEditClicked($event)">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>>
  </ion-fab>

</div>