// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "node_modules/ionic-angular/themes/ionic.mixins.scss";



ion-thumbnail{
    width: 70px;
    height: 70px;
}
 $app-direction : multi;


.float-end{
  @include ltr() {
      // Custom ltr style goes here
      float: right;
  }

  @include rtl() {
      // Custom rtl style goes here
      float: left;
  } 
}
// ion-icon {
//     color: red;
// }
//     ion-icon {
//         &[class*="app-"] {
//        mask-size: contain;
//        mask-position: 50% 50%;
//        mask-repeat: no-repeat;
//        background: currentColor;
//        width: 1em;
//        height: 1em;
//     }
//     &[class*="app-products-thumbs-list"] {
//        mask-image: url(/svg/products-thumbs-list.svg);
//     }
//     &[class*="custom-search-icon"] {
//        mask-image: url(/assets/img/icons/search-icon.svg);
//     }
//  }

 ion-icon {
    &[class*="app-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="app-products-thumbs-list"] {
      mask-image: url(/svg/products-thumbs-list.svg);
    }
  
  }