<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/StoreBase/OrderView/{{orderId}}"
      ></ion-back-button>
      <!--
        <ion-menu-toggle menuToggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      -->
    </ion-buttons>
    <ion-title> Edit Order </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    novalidate
    *ngIf="(order$ | async) as p"
    ng-submit="onSubmit()"
    [formGroup]="form"
  >
    <ion-list>
      <ion-item lines="none">
        <app-account-picker
          formControlName="accountId"
        ></app-account-picker>
        <ion-thumbnail slot="end">
          <app-photo-picker formControlName="imageUrl"></app-photo-picker>
        </ion-thumbnail>
      </ion-item>
      <ion-row no-padding>
        <ion-col>

      <ion-item>
        <ion-label>Ammount</ion-label>
        <ion-input
          class="text-end"
          readonly
          formControlName="ammount"
          type="number"
        ></ion-input>
      </ion-item>  </ion-col> <ion-col> <ion-item>
        <ion-label>Deposit</ion-label>
        <ion-input
          class="text-end"
          formControlName="deposit"
          type="number"
        ></ion-input>
      </ion-item>
    </ion-col>  </ion-row>
      <ion-row no-padding>
        <ion-col>
          <ion-item>
            <ion-label>CBM</ion-label>
            <ion-input
              class="text-end"
              formControlName="cbm"
              type="number"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>packing List</ion-label>
            <ion-select
              interface="action-sheet"
              formControlName="packingListId"
            >
              <ion-select-option
                *ngFor="let pl of (packinglists | async)"
                [value]="pl.id"
                >{{ pl.data.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime autofocus formControlName="date"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>delivery</ion-label>
            <ion-datetime
              formControlName="deliveryDate"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list class="order-rows-list" formArrayName="rows">
      <div class="header-item">
        <ion-item no-padding>
          <ion-thumbnail
            style="height: auto "
            class="thumbnail-placeholderr"
            slot="start"
          >
          <ion-button (click)="showNewOrderRow()" expand="full">
            <ion-icon name="add" slot="icon-only"></ion-icon>
          </ion-button>

          </ion-thumbnail>
          <ion-label>
            <ion-row>
              <ion-col size="4" text-center>
                <span title="quantity">quantity</span>
              </ion-col>
              <ion-col size="4" text-center>
                <span title="price">Price </span>
              </ion-col>
              <ion-col size="4" text-center>
                <span title="AMMOUNT">ammount</span>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </div>

      <app-order-row-editor
        *ngFor="let orderRowCtrl of orderRowsCtrl.controls; let i = index"
        [formControlName]="i"
        (remove)="removeOrderRow(i)"
        (copy) = "showCopyOrderRow($event)"
      ></app-order-row-editor>
                
      <app-order-row-editor style="display: none;"  [formControl]="newRowCtrol" #newRowComponent>
      </app-order-row-editor>
    </ion-list>
  </form>
</ion-content>
<ion-footer no-padding>
  <ion-row no-padding>
    <ion-col>
      <ion-button type="button" expand="full" (click)="onCancel()" color="light"
        >cancel</ion-button
      >
    </ion-col>
    <ion-col>
      <ion-button type="button" expand="full" (click)="delete()" color="light"
        >delete</ion-button
      >
    </ion-col>
    <ion-col>
      <ion-button expand="full" (click)="onSubmit(form)" color="primary">
        save</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
