<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/StoreBase/OrderView/{{orderId}}"
      ></ion-back-button>
      <!--
        <ion-menu-toggle menuToggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      -->
    </ion-buttons>
    <ion-title> Edit Order </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    novalidate
    *ngIf="(order$ | async) as p"
    ng-submit="onSubmit()"
    [formGroup]="form"
  >
    <ion-list>
      <ion-item lines="none">
        <app-account-picker
          autofocus
          formControlName="accountId"
        ></app-account-picker>
        <ion-thumbnail slot="end">
          <app-photo-picker formControlName="imageUrl"></app-photo-picker>
        </ion-thumbnail>
      </ion-item>

      <ion-item>
        <ion-label>Ammount</ion-label>
        <ion-input
          class="text-end"
          formControlName="ammount"
          type="number"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>CBM</ion-label>
        <ion-input
          class="text-end"
          autofocus
          formControlName="cbm"
          type="number"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime autofocus formControlName="date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>deliveryDate</ion-label>
        <ion-input
          type="date"
          autofocus
          formControlName="deliveryDate"
        ></ion-input
        >>
      </ion-item>
      <ion-item>
        <ion-label>packingListId</ion-label>
        <ion-select
          interface="action-sheet"
          formControlName="packingListId"
        >
          <ion-select-option
            *ngFor="let pl of (packinglists | async)"
            [value]="pl.id"
            >{{ pl.data.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="order-rows-list" formArrayName="rows">
      <app-order-row-editor
        *ngFor="let orderRowCtrl of orderRowsCtrl.controls; let i = index"
        [formControlName]="i"
        (remove)="removeOrderRow(i)"
      >
      </app-order-row-editor>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            expand="full"
            (click)="onCancel()"
            color="light"
            >cancel</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="onSubmit(form)" color="primary">
            save</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
