<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-toggle menuToggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>        
    </ion-buttons>
    <ion-title>
      Packing List 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
      <ion-col>
        <ion-card>
          <ion-thumbnail>
            <ion-icon class="large-icon" name="document" >
            </ion-icon>
          </ion-thumbnail>
          Invoices
        </ion-card>
      </ion-col>
      <ion-col>
          <ion-thumbnail>
            <ion-icon class="large-icon" name="list-box" >
            </ion-icon>
          </ion-thumbnail>
          list
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
  <a routerLink="/login">login</a> to your account, or <a routerLink="/signup">signup</a> if you dont have account yet ....
  <p>go to <a routerLink="/UserStores">UserStores</a></p>
  </ion-col></ion-row>
</ion-content>
