<ion-header no-border color="dark">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button [disabled]="deleteInProgress" *ngIf="canDelete" (click)="delete()">
        Delete<ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
      <ion-button *ngIf="canRemove" (click)="remove()">
        Remove<ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="canSelect" ion-button icon-only (click)="select()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="showEditImage()">
        Edit </ion-button>
      <ion-button *ngIf="canUpload" ion-button icon-only (click)="upload()">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll no-badding color="dark">
  <ion-slides zoom pager="true" [options]="sliderOptions">
    <ion-slide *ngFor="let image of images">
      <p class="image-details" vertical="top" horizontal="start" slot="fixed">
        Size: {{image.data.size}}, Dim : {{image.data.width + "x" + image.data.height}}
      </p>
      <div class="swiper-zoom-container">
        <ion-fab vertical="top" horizontal="start" slot="fixed">
          <ion-fab-button (click)="editImage(image)">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <ng-container *ngIf="image.data.url; else noThumb">
          <!-- <ion-spinner name="lines" class="fixed" *ngIf="!image.ext.loaded || deleteInProgress"></ion-spinner>
          
          <img style="object-fit:scale-down;" [src]="image.data.url" (load)="image.ext.loaded = true"
            [hidden]="!image.ext.loaded" />
            <img [src]="image.data.thumbUrl" [hidden]="image.ext.loaded" /> -->
          <img [src]="image.data.url" />
        </ng-container>
        <ng-template #noThumb>
          <ng-container *ngIf="image.ext.imgSaveInfo; else noImage">
            <ion-spinner name="lines" class="fixed"></ion-spinner>
            <img [src]="image.ext.imgSaveInfo.safeBlobUrl" />
          </ng-container>
          <ng-template #noImage> <img src="" /> no image </ng-template>
        </ng-template>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>