.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
  }
  
  .collapsed {
    max-height: 0 !important;
  }
  .bottom-bar{
    position: absolute; bottom:0px; width: 100%;
  }
  .blue-transparent{
    background:#7eb9fb;opacity: 0.8;
    }