<ng-container  *ngIf="(order$ | async) as or">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button [routerLink]="['EditOrderHeader', {id:or.id}]">
            <div>
            <ion-icon name="create" slot="start"></ion-icon>
            <label style="display: block">edit</label>
            </div>
          </ion-button>
          <ion-button [routerLink]="['EditOrderHeader', {id:or.id, copy:'copy'}]">
              <div>
              <ion-icon name="copy" slot="start"></ion-icon>
              <label style="display: block">copy</label>
              </div>
            </ion-button>
      
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ng-container *ngIf="(order$ | async) as or; else: waiting">
        View Order
      </ng-container>
      <ng-template #waiting>Waiting...</ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding" >
  <app-order-view [order]='or' [fullView]='true'></app-order-view>
    <!-- <app-order-header-view [order]="or"></app-order-header-view> -->
    <!-- <ion-fab *ngIf="showEditButton" vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button mini [routerLink]="['EditOrderHeader', {id:or.id}]">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  <!-- <app-order-rows-list *ngIf="(orderPlLines$ | async) as lines; else: noLines" [rows]="lines">
  </app-order-rows-list>
  <app-packing-list [orderRows]="orderPlLines$ | async"> </app-packing-list> -->
  <ng-template #noLines> loading... </ng-template>
</ion-content>
</ng-container>
